<!DOCTYPE html>
<html>
<head>
	<title>Marble Race</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>


	<ul id="marbles">
		<li class="marble-selection">
			<div class="marble-sprite yellow"></div>
			<div class="btn">
				<img class="key-icon" src="images/key-icon.png">
				<span class="btn-text">Claim</span>
			</div>
		</li>
		<li class="marble-selection">
			<div class="marble-sprite red"></div>
			<div class="btn">
				<img class="key-icon" src="images/key-icon.png">
				<span class="btn-text">Claim</span>
			</div>
		</li>
		<li class="marble-selection">
			<div class="marble-sprite blue"></div>
			<div class="btn">
				<img class="key-icon" src="images/key-icon.png">
				<span class="btn-text">Claim</span>
			</div>
		</li>
		<li class="marble-selection">
			<div class="marble-sprite green"></div>
			<div class="btn">
				<img class="key-icon" src="images/key-icon.png">
				<span class="btn-text">Claim</span>
			</div>
		</li>
	</ul>


</body>
</html>