<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marble Racing League</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>

	<div class="wrapper">

		<div id="nav">
			<a id="logo" href="/"><img src="images/logo.png"></a>
			<a id="results-link" href="#">Results</a>
		</div>
		

		<div id="video-section">
			<h2>Race Results</h2>
			<img id="video" src="images/video.jpg">
		</div>


		<h2>Marbles Eligible for Next Race</h2>
		<div id="eligible-desc">
			Entering let's you name a marble and you'll be its "owner" for the next race.
		</div>

		<ul id="eligible-marbles">
			<li class="marble-selection">
				<div class="marble-sprite yellow"></div>
				<div class="marble-name">Yellow</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite red"></div>
				<div class="marble-name">Red</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite blue"></div>
				<div class="marble-name">Blue</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite green"></div>
				<div class="marble-name">Green</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite white"></div>
				<div class="marble-name">White</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite teal"></div>
				<div class="marble-name">Teal</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite black"></div>
				<div class="marble-name">Black</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite orange"></div>
				<div class="marble-name">Orange</div>
				<div class="btn">
					<img class="key-icon" src="images/key-icon.png">
					<span class="btn-text">$5 Enter</span>
				</div>
			</li>
		</ul>

		<h2 id="entered-marbles-title">Entered Marbles</h2>
		<ul id="entered-marbles">
			<li class="marble-selection">
				<div class="marble-sprite yellow"></div>
				<div class="marble-name">Yellow</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite red"></div>
				<div class="marble-name">Red</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite blue"></div>
				<div class="marble-name">Blue</div>
			</li>
			<li class="marble-selection">
				<div class="marble-sprite green"></div>
				<div class="marble-name">Green</div>
			</li>
		</ul>
	</div>

	<footer>
		<div class="wrapper">
			<div id="footer-left">Contact Us</div>
			<div id="footer-right">&copy; 2017 Marble Racing League</div>
		</div>
	</footer>

	<div id="modal">
		<div id="modal-box"></div>
		<div id="modal-overlay"></div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
		$('.marble-selection .btn').click(function() {
			$('#modal').show();
		});
		$('#modal-overlay').click(function() {
			$('#modal').hide();
		});
	</script>
</body>
</html>