body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 20px; }

a {
  color: black; }
  a:hover {
    text-decoration: none; }

h2 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  font-weight: 500; }

.wrapper {
  margin: 0 auto;
  max-width: 979px;
  padding: 0 25px; }

#nav {
  display: flex;
  justify-content: space-between; }
  #nav #logo {
    display: inline-block; }
    #nav #logo img {
      width: 180px; }

#success-message {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 7px;
  border: solid 1px #089de3;
  color: #089de3;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.21) 1px 1px 5px 0px;
  background-color: rgba(240, 240, 240, 0.48); }

#video-section {
  max-width: 750px;
  margin: 0 auto; }
  #video-section #video {
    display: block;
    margin-bottom: 80px;
    width: 100%; }

#eligible-desc {
  max-width: 570px;
  margin: 20px auto;
  line-height: 20px; }

#eligible-marbles, #entered-marbles {
  max-width: 600px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #eaeaea;
  border-radius: 4px;
  padding: 0 20px; }
  #eligible-marbles li.marble-selection, #entered-marbles li.marble-selection {
    text-align: center;
    margin: 20px 10px; }
    #eligible-marbles li.marble-selection .marble-name, #entered-marbles li.marble-selection .marble-name {
      margin-bottom: 12px; }
    #eligible-marbles li.marble-selection .marble-sprite, #entered-marbles li.marble-selection .marble-sprite {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation-name: spin;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      margin: 0 auto 12px auto; }
      #eligible-marbles li.marble-selection .marble-sprite.yellow, #entered-marbles li.marble-selection .marble-sprite.yellow {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
        background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.red, #entered-marbles li.marble-selection .marble-sprite.red {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ff5757 0%, #B02818 100%, #9e0101 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #ff5757, #9e0101);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #ff5757 0%, #B02818 100%, #9e0101 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.blue, #entered-marbles li.marble-selection .marble-sprite.blue {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, blue 0%, #001b56 100%, #050058 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, #050058);
        background-image: radial-gradient(45px 45px 45deg, circle cover, blue 0%, #001b56 100%, #050058 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.green, #entered-marbles li.marble-selection .marble-sprite.green {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #00b300 0%, #001b56 100%, #214402 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #00b300, #214402);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #00b300 0%, #001b56 100%, #214402 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.white, #entered-marbles li.marble-selection .marble-sprite.white {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ffffff 0%, #A7A7A8 100%, #cacaca 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #ffffff, #cacaca);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #ffffff 0%, #A7A7A8 100%, #cacaca 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.teal, #entered-marbles li.marble-selection .marble-sprite.teal {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, teal 0%, #08A4E1 100%, #00afa7 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, teal, #00afa7);
        background-image: radial-gradient(45px 45px 45deg, circle cover, teal 0%, #08A4E1 100%, #00afa7 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.black, #entered-marbles li.marble-selection .marble-sprite.black {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, black 0%, #3B3C3C 100%, #5b5d5c 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, black, #5b5d5c);
        background-image: radial-gradient(45px 45px 45deg, circle cover, black 0%, #3B3C3C 100%, #5b5d5c 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.orange, #entered-marbles li.marble-selection .marble-sprite.orange {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 0%, orange 100%, #ff6c09 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, #ff6c09);
        background-image: radial-gradient(45px 45px 45deg, circle cover, orange 0%, orange 100%, #ff6c09 95%); }

.btn {
  background-color: #f5f8fa;
  background-image: linear-gradient(#fff, #f5f8fa);
  vertical-align: top;
  background-repeat: no-repeat;
  border: 1px solid #e6ecf0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  position: relative;
  padding: 4px 10px 9px 10px;
  font-family: Arial, sans-serif; }
  .btn:hover {
    text-decoration: none;
    background-color: #e6ecf0;
    background-image: linear-gradient(#fff, #e6ecf0);
    border-color: #e6ecf0; }
  .btn .key-icon {
    width: 14px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-right: 2px; }
  .btn .btn-text {
    vertical-align: middle; }

#entered-marbles {
  background-color: #f3f5f8;
  margin-bottom: 100px; }

#entered-marbles-title {
  margin-top: 80px; }

footer {
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: black;
  font-size: 15px; }
  footer #footer-left {
    float: left; }
  footer #footer-right {
    float: right; }

#modal {
  display: none; }
  #modal #modal-box {
    position: fixed;
    width: 80%;
    max-width: 679px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    z-index: 6;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #B9BCC0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 203px);
    overflow-y: auto; }
    #modal #modal-box #name-your-marble {
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 40px; }
    #modal #modal-box #info-form label {
      display: block;
      margin: 0 auto 8px auto;
      width: 50%;
      min-width: 300px;
      font-size: 20px; }
    #modal #modal-box #info-form #marble-name {
      box-sizing: border-box;
      padding-left: 8px;
      display: block;
      margin: 0 auto;
      width: 50%;
      min-width: 300px;
      height: 36px;
      font-size: 21px; }
    #modal #modal-box #info-form #submit-marble-info {
      margin: 15px auto 15px auto;
      min-width: 300px;
      width: 50%;
      text-align: center;
      display: block;
      padding: 14px 0;
      border-radius: 4px;
      background-color: #3ea8e5;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#44b1e8), to(#3098de));
      background-image: -webkit-linear-gradient(top, #44b1e8, #3098de);
      background-image: linear-gradient(-180deg, #44b1e8, #3098de);
      box-shadow: 0 1px 0 0 rgba(46, 86, 153, 0.15), inset 0 1px 0 0 rgba(46, 86, 153, 0.1), inset 0 -1px 0 0 rgba(46, 86, 153, 0.4);
      font-weight: 700;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      letter-spacing: .5px;
      text-transform: uppercase; }
      #modal #modal-box #info-form #submit-marble-info:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3098de), to(#44b1e8));
        background-image: -webkit-linear-gradient(top, #3098de, #44b1e8);
        background-image: linear-gradient(-180deg, #3098de, #44b1e8); }
  #modal #modal-overlay {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
