body {
  border: solid 1px green;
  height: 1000px; }

#marbles {
  margin-top: 200px;
  display: flex;
  justify-content: space-around; }
  #marbles li.marble-selection {
    text-align: center; }
    #marbles li.marble-selection .marble-sprite {
      border-radius: 50%;
      width: 95px;
      height: 95px;
      animation-name: spin;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      margin: 0 auto 12px auto; }
      #marbles li.marble-selection .marble-sprite.yellow {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
        background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%); }
      #marbles li.marble-selection .marble-sprite.red {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ff5757 0%, orange 100%, #9e0101 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #ff5757, #9e0101);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #ff5757 0%, orange 100%, #9e0101 95%); }
      #marbles li.marble-selection .marble-sprite.blue {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, blue 0%, #001b56 100%, #050058 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, #050058);
        background-image: radial-gradient(45px 45px 45deg, circle cover, blue 0%, #001b56 100%, #050058 95%); }
      #marbles li.marble-selection .marble-sprite.green {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #00b300 0%, #001b56 100%, #214402 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #00b300, #214402);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #00b300 0%, #001b56 100%, #214402 95%); }

.btn {
  background-color: #f5f8fa;
  background-image: linear-gradient(#fff, #f5f8fa);
  vertical-align: top;
  background-repeat: no-repeat;
  border: 1px solid #e6ecf0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  position: relative;
  padding: 4px 10px 9px 10px;
  font-family: Arial, sans-serif; }
  .btn:hover {
    text-decoration: none;
    background-color: #e6ecf0;
    background-image: linear-gradient(#fff, #e6ecf0);
    border-color: #e6ecf0; }
  .btn .key-icon {
    width: 14px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-right: 2px; }
  .btn .btn-text {
    vertical-align: middle; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
