#success-message {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 7px;
  border: solid 1px #089de3;
  color: #089de3;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.21) 1px 1px 5px 0px;
  background-color: rgba(240, 240, 240, 0.48); }

#video-section {
  max-width: 750px;
  margin: 0 auto; }
  #video-section #video {
    display: block;
    margin-bottom: 80px;
    width: 100%; }

#eligible-desc {
  max-width: 570px;
  margin: 20px auto;
  line-height: 20px; }

#no-available-marbles {
  text-align: center;
  font-size: 24px;
  color: #e01e30;
  font-weight: bold;
  margin-top: 50px; }

#eligible-marbles, #entered-marbles {
  max-width: 600px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #eaeaea;
  border-radius: 4px;
  padding: 0 20px;
  margin-bottom: 60px; }
  #eligible-marbles li.marble-selection, #entered-marbles li.marble-selection {
    text-align: center;
    margin: 20px 10px 10px 10px;
    width: 128px; }
    #eligible-marbles li.marble-selection .marble-name, #entered-marbles li.marble-selection .marble-name {
      line-height: 20px;
      font-size: 15px; }
    #eligible-marbles li.marble-selection .marble-image, #entered-marbles li.marble-selection .marble-image {
      margin-bottom: 12px; }
      #eligible-marbles li.marble-selection .marble-image img, #entered-marbles li.marble-selection .marble-image img {
        width: 50%; }

.btn {
  background-color: #f5f8fa;
  background-image: linear-gradient(#fff, #f5f8fa);
  vertical-align: top;
  background-repeat: no-repeat;
  border: 1px solid #e6ecf0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  position: relative;
  padding: 8px 10px 9px 10px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px; }
  .btn:hover {
    text-decoration: none;
    background-color: #e6ecf0;
    background-image: linear-gradient(#fff, #e6ecf0);
    border-color: #e6ecf0; }
  .btn .key-icon {
    width: 14px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-right: 2px; }
  .btn .btn-text {
    vertical-align: middle; }

#entered-marbles {
  background-color: #f3f5f8;
  margin-bottom: 100px; }

#entered-marbles-title {
  margin-top: 80px; }

#modal {
  display: none; }
  #modal #modal-box {
    position: fixed;
    width: 80%;
    max-width: 679px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    z-index: 6;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #B9BCC0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 203px);
    overflow-y: auto; }
    #modal #modal-box #name-your-marble {
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 40px; }
    #modal #modal-box #info-form label {
      display: block;
      margin: 0 auto 8px auto;
      width: 50%;
      min-width: 300px;
      font-size: 20px; }
    #modal #modal-box #info-form #marble-name {
      box-sizing: border-box;
      padding-left: 8px;
      display: block;
      margin: 0 auto;
      width: 50%;
      min-width: 300px;
      height: 36px;
      font-size: 21px; }
    #modal #modal-box #info-form #submit-marble-info {
      margin: 15px auto 15px auto;
      min-width: 300px;
      width: 50%;
      text-align: center;
      display: block;
      padding: 14px 0;
      border-radius: 4px;
      background-color: #3ea8e5;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#44b1e8), to(#3098de));
      background-image: -webkit-linear-gradient(top, #44b1e8, #3098de);
      background-image: linear-gradient(-180deg, #44b1e8, #3098de);
      box-shadow: 0 1px 0 0 rgba(46, 86, 153, 0.15), inset 0 1px 0 0 rgba(46, 86, 153, 0.1), inset 0 -1px 0 0 rgba(46, 86, 153, 0.4);
      font-weight: 700;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      letter-spacing: .5px;
      text-transform: uppercase; }
      #modal #modal-box #info-form #submit-marble-info:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3098de), to(#44b1e8));
        background-image: -webkit-linear-gradient(top, #3098de, #44b1e8);
        background-image: linear-gradient(-180deg, #3098de, #44b1e8); }
  #modal #modal-overlay {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
