body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 20px; }

a {
  color: black; }
  a:hover {
    text-decoration: none; }

h2 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  font-weight: 500; }

.wrapper {
  margin: 0 auto;
  max-width: 979px; }

#nav {
  display: flex;
  justify-content: space-between; }
  #nav #logo {
    display: inline-block; }
    #nav #logo img {
      width: 180px; }

#video {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px; }

#eligible-desc {
  max-width: 570px;
  margin: 20px auto;
  line-height: 20px; }

#eligible-marbles, #entered-marbles {
  max-width: 600px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #eaeaea;
  border-radius: 4px;
  padding: 0 20px; }
  #eligible-marbles li.marble-selection, #entered-marbles li.marble-selection {
    text-align: center;
    margin: 20px 10px; }
    #eligible-marbles li.marble-selection .marble-name, #entered-marbles li.marble-selection .marble-name {
      margin-bottom: 12px;
      font-weight: bold; }
    #eligible-marbles li.marble-selection .marble-sprite, #entered-marbles li.marble-selection .marble-sprite {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation-name: spin;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      margin: 0 auto 12px auto; }
      #eligible-marbles li.marble-selection .marble-sprite.yellow, #entered-marbles li.marble-selection .marble-sprite.yellow {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
        background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.red, #entered-marbles li.marble-selection .marble-sprite.red {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ff5757 0%, #B02818 100%, #9e0101 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #ff5757, #9e0101);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #ff5757 0%, #B02818 100%, #9e0101 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.blue, #entered-marbles li.marble-selection .marble-sprite.blue {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, blue 0%, #001b56 100%, #050058 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, #050058);
        background-image: radial-gradient(45px 45px 45deg, circle cover, blue 0%, #001b56 100%, #050058 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.green, #entered-marbles li.marble-selection .marble-sprite.green {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #00b300 0%, #001b56 100%, #214402 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #00b300, #214402);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #00b300 0%, #001b56 100%, #214402 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.white, #entered-marbles li.marble-selection .marble-sprite.white {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ffffff 0%, #A7A7A8 100%, #cacaca 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, #ffffff, #cacaca);
        background-image: radial-gradient(45px 45px 45deg, circle cover, #ffffff 0%, #A7A7A8 100%, #cacaca 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.teal, #entered-marbles li.marble-selection .marble-sprite.teal {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, teal 0%, #08A4E1 100%, #00afa7 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, teal, #00afa7);
        background-image: radial-gradient(45px 45px 45deg, circle cover, teal 0%, #08A4E1 100%, #00afa7 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.black, #entered-marbles li.marble-selection .marble-sprite.black {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, black 0%, #3B3C3C 100%, #5b5d5c 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, black, #5b5d5c);
        background-image: radial-gradient(45px 45px 45deg, circle cover, black 0%, #3B3C3C 100%, #5b5d5c 95%); }
      #eligible-marbles li.marble-selection .marble-sprite.orange, #entered-marbles li.marble-selection .marble-sprite.orange {
        background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 0%, orange 100%, #ff6c09 95%);
        background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, #ff6c09);
        background-image: radial-gradient(45px 45px 45deg, circle cover, orange 0%, orange 100%, #ff6c09 95%); }

.btn {
  background-color: #f5f8fa;
  background-image: linear-gradient(#fff, #f5f8fa);
  vertical-align: top;
  background-repeat: no-repeat;
  border: 1px solid #e6ecf0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  position: relative;
  padding: 4px 10px 9px 10px;
  font-family: Arial, sans-serif; }
  .btn:hover {
    text-decoration: none;
    background-color: #e6ecf0;
    background-image: linear-gradient(#fff, #e6ecf0);
    border-color: #e6ecf0; }
  .btn .key-icon {
    width: 14px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-right: 2px; }
  .btn .btn-text {
    vertical-align: middle; }

#entered-marbles {
  background-color: #f3f5f8;
  margin-bottom: 100px; }

#entered-marbles-title {
  margin-top: 40px; }

footer {
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: black;
  font-size: 15px; }
  footer #footer-left {
    float: left; }
  footer #footer-right {
    float: right; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
